[run]
source = .
# Include only views.py and models.py
include = 
    */views.py
    */models.py
    
omit = 
    /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/*


[report]
# Exclude lines that are deferring coverage such as `if __name__ == "__main__":`
exclude_lines = 
    pragma: no cover
    def __str__
    def __unicode__
    def __repr__
    if self\.debug
    if settings\.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.: