# editor
##vscode
.vscode/
##mac
.DS_Store

# languages
## node/js
build/
dist/
node_modules/

## python
__pycache__/

# env/private
.env

# misc
.idea

# logging data
## grafana
prometheus/prometheus.env
prometheus/prometheus.yaml
prometheus/wal_data/
