asgiref==3.7.2
Django==5.0
django-extensions==3.2.3
djangorestframework==3.14.0
mysqlclient==2.2.0
python-dotenv==1.0.0
pytz==2023.3.post1
setuptools==69.0.2
sqlparse==0.4.4
wheel==0.42.0
Werkzeug==3.0.1
