aiohttp==3.9.0b0
aiosignal==1.3.1
altgraph==0.17.4
asgiref==3.7.2
attrs==23.1.0
bcrypt==4.1.1
bidict==0.22.1
bottle==0.12.25
bottle-websocket==0.2.9
bprofile==1.3.4
certifi==2023.7.22
channels==4.0.0
charset-normalizer==3.3.1
chess==1.10.0
chess-board==0.4.1
chessboard==1.5.4
click==8.1.7
click-log==0.4.0
contourpy==1.1.1
cycler==0.12.1
Cython==3.0.4
Django==4.2.7
django-cors-headers==4.3.1
djangorestframework==3.14.0
Eel==0.16.0
fonttools==4.43.1
frozenlist==1.4.0
future==0.18.3
gevent==23.9.1
gevent-websocket==0.10.1
greenlet==3.0.1
h11==0.14.0
idna==3.4
kiwisolver==1.4.5
macholib==1.16.3
matplotlib==3.8.0
modulegraph==0.19.6
multidict==6.0.4
mysql-connector-python==8.2.0
mysqlclient==2.2.0
netifaces==0.10.6
numpy==1.26.1
packaging==23.2
pandas==2.1.2
Pillow==10.1.0
plumbum==1.8.2
protobuf==4.21.12
py-cpuinfo==9.0.0
py2app==0.28.6
pygame==2.5.2
pyinstaller==6.1.0
pyinstaller-hooks-contrib==2023.10
PyJWT==2.8.0
PyMySQL==1.1.0
pyobjc-core==10.0
pyobjc-framework-Cocoa==10.0
pyparsing==3.1.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-engineio==4.8.0
python-socketio==5.10.0
pytz==2023.3.post1
requests==2.31.0
rpyc==5.3.1
screeninfo==0.8.1
seaborn==0.13.0
setuptools==3.3
simple-websocket==1.0.0
six==1.16.0
socketio==0.2.1
sqlparse==0.4.4
tzdata==2023.3
urllib3==2.0.7
websockets==12.0
whichcraft==0.6.1
wsproto==1.2.0
yarl==1.9.2
zope.event==5.0
zope.interface==6.1
