
# prometheus

INSTANCE_NAME=

# vscode exporter 

# full url, made of protocol, domain, port, path
VSCODE_REMOTE_WRITE_URL=http://localhost:9090/api/v1/write
VSCODE_REMOTE_WRITE_TIMEOUT=1m
# domain, port
VSCODE_SCRAPE_ADDR=172.17.0.1:9931
VSCODE_SCRAPE_INTERVAL=10s

# docker container

RESTART_POLICY=unless-stopped
PROMETHEUS_AGENT_CONTAINER_NAME=prometheus-agent
PROMETHEUS_AGENT_IMAGE_NAME=prometheus-agent
WAL_DATA_DIR="./wal_data"